
.vs/Progect_2_0/v16/

*.jpeg

*.pdf

*.png

*.eps

Alf_12/

*.txt

*.xlsx

*.sty

*.avi

*.nb

*.deps

*.cache

*.obj

x64/Debug/

*.bmp

*.jpg

*.user

binary_Golikov_Setka_file_moscow_6_3.dat

*.filepart

*.sln

*.vcxproj

*.dat

*.out
